<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybook.mapper.OrderMapper">
<!-- 주문하기 -->
<insert id="insert">
insert into tbl_order(order_id, userid, order_price, order_rec, address1, address2, order_phone, order_payment, order_regdate, amount)
 values(#{order_id}, #{userid},#{order_price},#{order_rec},#{address1},#{address2}, #{order_phone}, #{order_payment}, now(), #{amount})
</insert>

<!-- 주문전체보기 -->
<select id="findAll" parameterType="java.util.Map" resultType="com.mybook.dto.Order">
select * from tbl_order
</select>

<select id="findById" resultType="com.mybook.dto.Order">
select O.order_id, O.order_rec, O.address1, O.address2, O.order_phone, O.order_price, O.order_payment, O.order_ask, O.order_regdate, OD.book_id, OD.amount,
B.book_title, B.thumbImg 
from order_detail OD join tbl_order O on(O.order_id = OD.order_id)
join Books B on(B.book_id = OD.book_id)
 where O.order_id=#{order_id}
</select>

<!-- 주문취소하기 -->
<delete id="delete">
delete from tbl_order where order_id=#{order_id}
</delete>
<!-- 나의 주문 목록 -->

<select id="orderList" resultType="com.mybook.dto.Order">
select *  from tbl_order 
     where userid = #{userid}
</select>

</mapper>

